<h1>My Robots</h1>
<a href='/new_robot'><button type="button" class="btn btn-success">New Robot!</button></a>
<a href='/daleks'><button type="button" class="btn btn-danger">Destroy the Daleks!</button></a>
<div class='row'>
  <% @robots.each do |robot| %>
    <div class="col-md-4">
      <img src='https://robohash.org/<%= robot.name %>'</img>
      <h3><%= robot.id%>. <a href="/robots/<%= robot.id %>"><%= robot.name%></a></h3>
      <p><%= robot.city%>,<%= robot.state%></p>
      <p><%= robot.dept%></p>
      <a href="/robots/<%= robot.id %>/edit"><button type="button" class="btn btn-warning">Edit!</button></a>
      <form action="/robots/<%= robot.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete" />
      </form>
    </div>
</div>

<% end %>
