<h1><a href="/robots">My Robot World</a></h1>

<h3><%= @robot.id%>. <%= @robot.name%></h3>
<p><%= @robot.city%>,<%= @robot.state%></p>
<p><%= @robot.dept%></p>
<a href="/robots/<%= @robot.id %>/edit">Edit</a>
